<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.trip.mapper.SidoMapper">
  <!--  private long id;-->
  <!--  private String title;-->
  <!--  private String content;-->
  <!--  private long userId;-->
  <!--  private String userName;-->

  <select id="findById" resultType="Plan" parameterType="long">
    select * from plan where id =#{id}
  </select>

  <select id="findByAll" resultType="Plan" >
    select * from plan
  </select>



</mapper>
